{% macro render_field(field) %}
    <div class="form-group row">
        <label class="col-sm-2">{{ field.label }}</label>
        {% if not field.errors %}
            <div class="col-sm-10">
                {{ field(class="form-control", autocomplete="off") }}
            </div>
        {% else  %}
            <div class="col-sm-10">
                {{ field(class="form-control is-invalid", autocomplete="off") }}
            </div>
            <div class="col-sm-12 alert alert-danger">
                {% for error in field.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endmacro %}

{% macro render_info(info) %}
    <div class="form-group row">
        <label class="col-sm-2">{{ info.label }}</label>
        <div class="col-sm-10">
            {{ info.value }}
        </div>
    </div>
{% endmacro %}
