<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Meu Churrasco</title>
        <h1>Meu Churrasco</h1>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    </head>
    <body>
        <div class="row">
            <div class="col-md-12">
                <div class="container-fluid">
		    <a class="btn btn-outline-success btn-lg" href="https://github.com/moura1001/meu-churrasco-flask" target="_blank" role="button">Repositório do projeto</a>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-primary" role="alert">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                    {% endwith %}
                    <p></p>
                    <div class="card bg-default">
                        <h5 class="card-header">
                            {% block head %}
                            {% endblock %}
                        </h5>
                        <div class="card-body">
                            {% block body %}
                            {% endblock %}
                        </div>
                        <div class="card-footer small"></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
